@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

canvas 
{
    border: 2px solid #303942;
}

.toolbox{
    background-color: #303942;
    border: 1px solid #303942;
    display: flex;
    padding: 1rem;
    width: 804px;
}

.toolbox > *{
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem;
    font-size: 2rem;
    padding: 0.25rem;
    height: 50px;
    width: 50px;
}

.toolbox > *:last-child {
    margin-left: auto;
}